@page
@model assignment.Pages.Article.IndexModel
@{
    ViewData["Title"] = "精品文章";
    Layout = "Layout/_SingleAside";

}

<body>
    @foreach (var item in Model.Articles)
    {
        <div style="border-bottom-width:1px;border-bottom-style:dashed;padding-top:10px">
            <div>
                <small class="text-muted">
                    <span class="fa fa-calculator"></span>
                    <span>@item.PublishTime.ToString("yyyy年MM月dd日hh点mm分")</span>
                </small>
                <small class="pull-right">
                    <span>作者：</span>
                    <a href="/Article/User-@item.Author.Id">@item.Author.Name</a>
                </small>
            </div>
            <h5>
                <a href="@item.Id">@item.Title</a>
            </h5>
            <p style="word-break: break-all; clear: both; margin-top: 8px;">
                @item.Body
                <a href="#" title="全文">……</a>
            </p>
            <div>
                <label>
                    <span class="fa fa-tags"></span>
                    关键字：
                </label>
                @if (item.keyWords != null)
                {
                    @for (int i = 0; i < item.keyWords.Count; i++)
                    {
                        <span class="badge badge-pill badge-dark">@item.keyWords[i].Content</span>

                    }

                }

            </div>
            <div class="pull-right" style="margin-bottom:10px">
                <a href="#" style="margin-left:14px;color:#31708f">
                    <span class="fa fa-comments-o"></span>
                    <span>评论：</span>
                    @if (item.comments != null)
                    {
                        @item.comments.Count

                    }
                    else
                    {
                        <span>0</span>
                    }
                </a>
                <a href="#" style="margin-left:14px;color:#31708f">
                    <span class="fa fa-thumbs-o-up"></span>
                    <span>赞：</span>
                    @if (item.appraises != null)
                    {
                        @item.appraises.Where(a => a.Direction == Entities.UpOrdown.Up).Count()

                    }
                    else
                    {
                        <span>0</span>
                    }
                </a>
                <a href="#" style="margin-left:14px;color:#31708f">
                    <span class="fa fa-thumbs-o-down"></span>
                    <span>踩：</span>
                    @if (item.appraises != null)
                    {
                        @item.appraises.Where(a => a.Direction == Entities.UpOrdown.Down).Count()

                    }
                    else
                    {
                        <span>0</span>
                    }
                </a>
            </div>
            <div style="clear:both"></div>
        </div>

    }

    <nav aria-label="Page navigation example" style="margin-top:40px;margin-bottom:30px">
        <ul class="pagination">
            @if (Model.PageIndex != 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Article/paged-@(Model.PageIndex-1)" aria-label="Next">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

            }
            @for (int i = 0; i < Model.PageCount; i++)
            {
                if (Model.PageIndex == i + 1)
                {
                    <li class="page-item active"><a class="page-link" href="/Article/paged-@(i+1)">@(i+1)</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Article/paged-@(i+1)">@(i+1)</a></li>

                }


            }
            @if (Model.PageIndex < Model.PageCount)
            {
                <li class="page-item ">
                    <a class="page-link" href="/Article/paged-@(Model.PageIndex+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            }
        </ul>
    </nav>

</body>
