@page
@model assignment.Pages.Article.SingleModel
@{
    Layout = "Layout/_SingleAside";
    ViewData["Title"] = Model.Article.Title;
}

<div>
    <img src="~/Images/源栈上课啦.jpg" />
    <h2>@Model.Article.Title</h2>
    <hr />
    <div>
        <small class="text-muted">
            <span class="fa fa-calculator"></span>
            <span>@Model.Article.PublishTime.ToString("yyyy年MM月dd日hh点mm分")</span>
        </small>
        <small class="pull-right">
            <span>作者：</span>
            <a href="#">@Model.Article.Author.Name</a>
        </small>
    </div>
    <div>
        @Model.Article.Body
    </div>
    <div>
        <label>
            <span class="fa fa-tags"></span>
            关键字：
            @if (Model.Article.keyWords != null)
            {
                @foreach (var item in Model.Article.keyWords)
                {
                    <span class="badge badge-pill badge-dark">@item.Content</span>
                }
            }

        </label>
    </div>
    <div class="article-appraise appraise-status pull-right">
        <a href="#" style="margin-left:14px;color:#31708f">
            <span class="fa fa-thumbs-o-up"></span>
            <span>赞：</span>
            @if (Model.Article.appraises != null)
            {
                @Model.Article.appraises.Where(a => a.Direction == Entities.UpOrdown.Up).Count()

            }
            else
            {
                <span>0</span>
            }
        </a>
        <a href="#" style="margin-left:14px;color:#31708f">
            <span class="fa fa-thumbs-o-down"></span>
            <span>踩：</span>
            @if (Model.Article.appraises != null)
            {
                @Model.Article.appraises.Where(a => a.Direction == Entities.UpOrdown.Down).Count()

            }
            else
            {
                <span>0</span>
            }
        </a>
    </div>
    <div style="margin-top:50px">
        <span>评论</span>
        <span>
            （ <span>
                @if (Model.Article.comments != null)
                {
                    @Model.Article.comments.Count

                }
                else
                {
                    <span>0</span>
                }
            </span>）
        </span>
    </div>

    @if (Model.Article.comments != null)
    {
        @foreach (var item in Model.Article.comments)
        {
            <div style="margin-top:50px">
                <div>
                    <small class="text-muted">
                        <span class="fa fa-calculator"></span>
                        <span>@item.PublishTime.ToString("yyyy年MM月dd日hh点mm分")</span>
                    </small>
                    <small class="pull-right">
                        <span>作者：</span>
                        <a href="#">@item.Author.Name</a>
                    </small>
                </div>
                <div>
                    @item.Content
                </div>
                <div class="article-appraise appraise-status pull-right">
                    <a href="#" style="margin-left:14px;color:#31708f">
                        <span class="fa fa-thumbs-o-up"></span>
                        <span>赞：</span>
                        @item.Appraises.Where(a => a.Direction == Entities.UpOrdown.Up).Count()
                    </a>
                    <a href="#" style="margin-left:14px;color:#31708f">
                        <span class="fa fa-thumbs-o-down"></span>
                        <span>踩：</span>
                        @item.Appraises.Where(a => a.Direction == Entities.UpOrdown.Down).Count()
                    </a>
                </div>
            </div>

        }

    }
</div>